Package: com.leglessnograd.icondown
Name: icondown
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Squishes those icons down. 
Maintainer: Charlie Knight
Author: Charle Knight
Section: Tweaks
Version: 1.1-2
Installed-Size: 96
